@import "addition/variable";
@import "addition/common";
@import "addition/recet";
%flex-center{
    @extend .flex;
    @extend .flex-direction-column;
    @extend .justify-content-between;
    @extend .align-items-center;
}
%flex-odd-center{
    @extend .flex;
    @extend .justify-content-center;
    @extend .align-items-center;
}
#demo-12{
    height: $section-heigth;
    .title{
        background-color: $main-color;
        h1{
            text-align: center;
            color: white;
        }
    }
    .container{
        width: $container-width;
        height: $container-height;
        margin: $space-10x*2 auto;
        .container-heading{
            p{
                color: $font-color-first;
                margin-top: $space-2x;
            }
        }
        .card{
            height: $card-height;
            width: 100%;
            margin: $space-10x*3 0;
            @extend .flex;
            @extend .justify-content-between;
            .item{
                background-color: $secondary-color;
                width: $item-with;
                height: $item-height;
                box-sizing: border-box;
                padding: $space-4x $space-4x;
                position: relative;
                @extend %flex-center; 
                overflow: hidden;
                .animation{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height:100%;
                    background-color:$main-color;
                    transition: all ease .4s;
                    transform: rotateZ(90deg) translateX(100%);
                } 
                &:hover{
                    h1,p{
                        color: white;
                    }
                    a{
                        color: $main-color;
                        background-color: white;
                    }
                    .animation{
                        transform: rotateZ(0deg) translateX(0%);
                    }
                }
                .work{
                    width: 100%;
                    @extend .flex;
                    @extend .justify-content-between;
                    z-index: 5;
                    .description{
                        width: 220px;
                        h1{
                            @extend .size-30;
                            @extend .fw-7;
                        }
                        p{
                            @extend .size-14;
                            @extend .mt-10;
                            line-height: $size-5x;     
                        }
                    }
                    .icon{
                        background-color: white;
                        width: $size-2x*11;
                        height: $size-2x*11;
                        border-radius: 50%;
                        box-shadow: -3px -3px 5px inset $border-color;
                        @extend %flex-odd-center;
                        i{
                            color: $main-color;
                            @extend .size-52
                        }
                    }
                }    
                a{
                    background-color: $main-color;
                    color: white;
                    padding: $space-4x $space-8x;
                    transition: all ease .2s;
                    z-index: 6;
                    @extend .size-14;
                    @extend .fw-4;
                    @extend .b-rad-40
                }
            }
        }
    }
}
