.flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
.align-items-start{
    align-items: flex-start;
}
.align-items-end{
    align-items: flex-end;
}
.flex-direction-column{
    flex-direction: column;
}
.bring-to-center{
    margin: 0 auto;
}
// font center
.center{
    text-align: center;
}
// font-size
@for $i from 1 to 100{
    .size-#{$i}{
        font-size: #{$i}px;
    }
}
// font weight
@for $i from 1 to 10{
    .fw-#{$i}{
        font-weight: #{$i*100};
    }
}
// padding
@for $i from 1 to 11{
    .p-#{$i*5}{
        padding: #{$i*5}px;
    }
}
// padding-x 
@for $i from 1 to 11{
    .px-#{$i*5}{
        padding: 0 #{$i*5}px;
    }
}
// padding-y
@for $i from 1 to 11{
    .py-#{$i*5}{
        padding: #{$i*5}px 0;
    }
}
// padding-top
@for $i from 1 to 11{
    .pt-#{$i*5}{
        padding-top: #{$i*5}px;
    }
}
// padding-bottom
@for $i from 1 to 11{
    .pb-#{$i*5}{
        padding-bottom: #{$i*5}px;
    }
}
// padding-left
@for $i from 1 to 11{
    .pl-#{$i*5}{
        padding-left: #{$i*5}px;
    }
}
// padding-right
@for $i from 1 to 11{
    .pr-#{$i*5}{
        padding-right: #{$i*5}px;
    }
}





// margin
@for $i from 1 to 11{
    .m-#{$i*5}{
        margin: #{$i*5}px;
    }
}
// margin-x 
@for $i from 1 to 11{
    .mx-#{$i*5}{
        margin: 0 #{$i*5}px;
    }
}
// margin-y
@for $i from 1 to 11{
    .my-#{$i*5}{
        margin: #{$i*5}px 0;
    }
}
// margin-top
@for $i from 1 to 11{
    .mt-#{$i*5}{
        margin-top: #{$i*5}px;
    }
}
// margin-bottom
@for $i from 1 to 11{
    .mb-#{$i*5}{
        margin-bottom: #{$i*5}px;
    }
}
// margin-left
@for $i from 1 to 11{
    .ml-#{$i*5}{
        margin-left: #{$i*5}px;
    }
}
// margin-right
@for $i from 1 to 11{
    .mr-#{$i*5}{
        margin-right: #{$i*5}px;
    }
}


// border radius
@for $i from 1 to 11{
    .b-rad-#{$i*5}{
        border-radius: #{$i*5}px;
    }
}
