$main-color: #2e4b9b;
$secondary-color:#e9e9e9;
$border-color:#71d1ff;
$icon-color:#8aa9ff;
$icon-with:130px;
$icon-height:130px;
$container-width:1200px;
$container-height:600px;
$section-heigth:800px;
$item-with:340px;
$item-height:300px;
$card-height:462px;
$font-color-first:#333333;
// space
$space-x: 5px;
$space-2x: $space-x*2;
$space-3x: $space-x*3;
$space-4x: $space-x*4;
$space-5x: $space-x*5;
$space-6x: $space-x*6;
$space-7x: $space-x*7;
$space-8x: $space-x*8;
$space-9x: $space-x*9;
$space-10x: $space-x*10;
$space-11x: $space-x*11;
$space-12x: $space-x*12;
$space-13x: $space-x*13;
$space-14x: $space-x*14;
$space-15x: $space-x*15;
$space-16x: $space-x*16;
$space-17x: $space-x*17;
$space-18x: $space-x*18;
$space-19x: $space-x*19;
$space-20x: $space-x*20;
// font-size
$size-x: 5px;
$size-2x: $space-x*2;
$size-3x: $space-x*3;
$size-4x: $space-x*4;
$size-5x: $space-x*5;
$size-6x: $space-x*6;
$size-7x: $space-x*7;
$size-8x: $space-x*8;
$size-9x: $space-x*9;
$size-10x: $space-x*10;


