$section-color: #F2F2F2;
$container-width: 1110px;
$head-bar-height:113px;
$main-color: rgba(55, 63, 104, 1);
$secondary-color: rgba(173, 31, 234, 1);
$third-color: rgba(58, 67, 116, 1);
$fourth-color:  rgba(100, 113, 150, 1);
$btn-color: rgba(70, 97, 230, 1);
$btn-back-color:  rgba(242, 244, 255, 1);
$icon-color:rgba(205, 210, 238, 1);
$border-color: rgba(244, 159, 133, 1);
$border-color-2: rgba(98, 188, 250, 1);
// space
$space-x: 5px;
$space-2x: $space-x*2;
$space-3x: $space-x*3;
$space-4x: $space-x*4;
$space-5x: $space-x*5;
$space-6x: $space-x*6;
$space-7x: $space-x*7;
$space-8x: $space-x*8;
$space-9x: $space-x*9;
$space-10x: $space-x*10;
$space-11x: $space-x*11;
$space-12x: $space-x*12;
$space-13x: $space-x*13;
$space-14x: $space-x*14;
$space-15x: $space-x*15;
$space-16x: $space-x*16;
$space-17x: $space-x*17;
$space-18x: $space-x*18;
$space-19x: $space-x*19;
$space-20x: $space-x*20;
// font-size
$size-x: 5px;
$size-2x: $space-x*2;
$size-3x: $space-x*3;
$size-4x: $space-x*4;
$size-5x: $space-x*5;
$size-6x: $space-x*6;
$size-7x: $space-x*7;
$size-8x: $space-x*8;
$size-9x: $space-x*9;
$size-10x: $space-x*10;


// border radius

$radius-x: 5px;
$radius-2x: $space-x*2;
$radius-3x: $space-x*3;
$radius-4x: $space-x*4;
$radius-5x: $space-x*5;
$radius-6x: $space-x*6;
$radius-7x: $space-x*7;
$radius-8x: $space-x*8;
$radius-9x: $space-x*9;
$radius-10x: $space-x*10;
$radius-11x: $space-x*11;
$radius-12x: $space-x*12;
$radius-13x: $space-x*13;
$radius-14x: $space-x*14;
$radius-15x: $space-x*15;
$radius-16x: $space-x*16;
$radius-17x: $space-x*17;
$radius-18x: $space-x*18;
$radius-19x: $space-x*19;
$radius-20x: $space-x*20;


// font weight

$f-weight-100:100;
$f-weight-200:200;
$f-weight-300:300;
$f-weight-400:400;
$f-weight-500:500;
$f-weight-600:600;
$f-weight-700:700;
$f-weight-800:800;
$f-weight-900:900;


