@import "additions/variable";
@import "additions/recet";
@import "additions/common";
#demo-3{
    height: $section-heigth;
    .title{
        background-color: $main-color;
        padding: $space-2x;
        box-sizing: border-box;
        h1{
            text-align: center;
            color: white;
            font-size: $size-3x+3;
        }
    }
    .container{
        height: 80%;
        width: $container-with;
        margin: 4em auto;
        .container-heading{
            @extend .bring-to-center;
            h1,p{
                text-align: center;
            }
            h1{
                font-size: $size-6x;
                font-weight: 700;
            }
        }
    }
    .card{
        @extend .flex;
        @extend .justify-content-between;
        width: 100%;
        height: $card-height;
        margin-top: $space-2x*10;
        .item{
            width: $container-with/3;
            height: 100%;
            padding: $space-4x;
            box-sizing: border-box;
            margin: 0 $space-3x;
            animation-duration: 1s;
            @extend .flex;
            @extend .flex-direction-column;
            @extend .justify-content-between;
            @extend .align-items-center;
            h1{
                font-size: $size-6x;
                font-weight: 700;
            }
            .icon{
                i{
                    font-size: $size-10x+2;
                    color: $main-color;
                }
            }
            p{
                color: darkgray;
                font-size: $size-3x;
                padding:0 $space-10x;
                text-align: center;
            }
            a{
                background-color: $main-color;
                padding: $space-3x $space-8x;
                border-radius: 25px;
                color: white;
            }

        }

        
    }
}
@keyframes border{
    0%{
        border-bottom: 2px solid $main-color;
    }
    33%{
        border-bottom: 2px solid $main-color;
        border-left: 2px solid $main-color;
    }
    66%{
        border-top: 2px solid $main-color;
        border-bottom: 2px solid $main-color;
        border-left: 2px solid $main-color;
    }
    100%{
        border-right: 2px solid $main-color;
        border-top: 2px solid $main-color;
        border-bottom: 2px solid $main-color;
        border-left: 2px solid $main-color;
    }
}
.item:hover{
    animation: border forwards;
}