$main-color:#5656a6;
$secondary-color:#5b5bae;
$heigt-section:900px;
$container-width:1150px;
$space-x:5px;
$space-2x:$space-x*2;
$space-3x:$space-x*3;
$space-4x:$space-x*4;
$space-5x:$space-x*5;
$space-6x:$space-x*6;
$space-7x:$space-x*7;
$space-8x:$space-x*8;
