@import "sections/variable";
@import "sections/reset";
@import "sections/common";

.container{
    border: 1px solid red;
    width: $container-width;
    height: 400px;
    margin: $space-15x auto;
    .row{
        .head-bar{
            height: $head-bar-height;
            background: $main-color;
            @extend .b-rad-10;
            @extend .flex;
            @extend .justify-content-between;
            @extend .align-items-center;
            .hb-left{
                position: relative;
                @extend .ml-32;
                .go-back{
                    @extend .flex;
                    @extend .align-items-center;
                    width: 100%;
                    a{
                    color: $icon-color;
                    @extend .f-size-8;
                    }
                    span{
                        @extend .f-size-14;
                        @extend .ml-25;
                        text-align: center;
                        color: white;
                        display: block
                    }
                }
                h5{
                    @extend .f-size-24;
                    font-weight: $f-weight-700;
                    color: white;
                }
            }
            .hb-right{
                @extend .flex;
                @extend .justify-content-center;
                @extend .align-items-center;
                @extend .b-rad-10;
                @extend .mr-40;
                width: 158px;
                height: 44px;
                
                background: $secondary-color;
                a{
                    @extend .f-size-14;
                    color: white;
                    
                }
            }
        }
    }
}
.box{
    li{
        @extend .f-size-16;
        color: $fourth-color;
        list-style-image: url("/img/circle.png")
    }
    h5{
        @extend .f-size-18;
        color: $third-color
    }
    p{
        @extend .f-size-16;
        color: $fourth-color;
    }
    a{
        @extend .f-size-13;
        @extend .b-rad-10;
        color: $btn-color;
        background-color: $btn-back-color;
    }
}