@import "sections/variable";
@import "sections/reset";
@import "sections/common";
section{
    width: 100%;
}
.container{
    width: $container-width;
    margin: $space-15x auto;
    .row-title{
        @extend .flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
        .box{
            background: none;
            border: 1px solid red;
        }
        .head-bar{
            height: $head-bar-height;
            background: $main-color;
            @extend .b-rad-10;
            @extend .flex;
            @extend .justify-content-between;
            @extend .align-items-center;
            .hb-left{
                position: relative;
                @extend .ml-32;
                .go-back{
                    @extend .flex;
                    @extend .align-items-center;
                    width: 100%;
                    a{
                    color: $icon-color;
                    @extend .f-size-8;
                    }
                    span{
                        @extend .f-size-14;
                        @extend .ml-25;
                        text-align: center;
                        color: white;
                        display: block
                    }
                }
                h5{
                    @extend .f-size-24;
                    font-weight: $f-weight-700;
                    color: white;
                }
            }
            .hb-right{
                @extend .flex;
                @extend .justify-content-center;
                @extend .align-items-center;
                @extend .b-rad-10;
                @extend .mr-40;
                width: 158px;
                height: 44px;
                
                background: $secondary-color;
                a{
                    @extend .f-size-14;
                    color: white;
                    
                }
            }
        }
    }
}
.box{
    @extend .b-rad-5;
    .title{
        @extend .flex;
        @extend .align-items-center;
        i{
            @extend .f-size-8;
            color: $border-color;
        }
        span{
        @extend .f-size-16;
        @extend .ml-16;
        color: $fourth-color;
    }
    }
    h5{
        @extend .f-size-18;
        @extend .mt-8;
        @extend .mb-8;
        color: $third-color
    }
    p{
        @extend .f-size-16;
        @extend .mb-8;
        color: $fourth-color;
    }
    a{
        @extend .f-size-13;
        @extend .b-rad-10;
        @extend .mt-8;
        @extend .mb-8;
        display: inline-block;
        padding: $space-x $space-3x;
        color: $btn-color;
        background-color: $btn-back-color;
    }
    .btn-bottom{
        @extend .flex;
        @extend .justify-content-between;
        .group{
            @extend .flex;
            @extend .align-items-center;
            padding: $space-3x $space-3x;
            i{
                color: $btn-color;
                @extend .f-size-14;
                @extend .mr-10;
                font-weight: $f-weight-700 !important;
            }
            span{
                color: $third-color;
                @extend .f-size-13;
                font-weight: $f-weight-700;
            }
        }
        .comment{
            background: none !important;
            @extend .flex;
            @extend .align-items-center;
            i{
                color: $btn-back-color;
                @extend .f-size-18;
                @extend .mr-10;
            }
            span{
                color: $third-color;
                @extend .f-size-16;
                font-weight: $f-weight-700;
            }
        }
    }
}
.box-col-1{
    border-top: 6px solid $border-color;
}
.box-col-2{
    border-top: 6px solid $secondary-color;
}
.box-col-3{
    border-top: 6px solid $border-color-2;
}
.row-1{
    @extend .flex;
    .box{
        background: none;
        margin:15px
    }
}
.row-2{
    @extend .flex;
    @extend .justify-content-between;
    .box{
        margin: 15px;
    }
}
.row-3{
    @extend .flex;
    width: 1050px;
    .box{
        margin: 15px;
    }
}
.row-4{
    width: 1050px;
    @extend .flex;
    @extend .justify-content-center;
    margin: 0 auto;
}