body{
    font-family: 'Nunito Sans',sans-serif;
}
a{
    color: #212631;
}
img:hover{
    opacity: 0.8;
    transition: ease .5s;
}
span{
    font-size: 13px;
}
.black{
    color: #212631 !important;
}
.block{
    display: block;
}
.pointer{
    cursor: pointer;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.margin-auto{
    margin: 0 auto;
}
.ta-center{
    text-align: center;
}
.flex{
    display: flex;
}
.justify-content-space-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
.flex-direction-column{
    flex-direction: column;
}
.flex-direction-row{
    flex-direction: row;
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.bottom{
    bottom: 20px;
}
.left-5{
    left: 5px;
}
.left-10{
    left: 10px;
}
.left-x{
    left: 15px;
}
.left-2x{
    left: 30px;
}
.left-3x{
    left: 45px;
}
.left-4x{
    left: 350px;
}
.left-5{
    right: 5px;
}
.right-5{
    right: 5px;
}
.top-10{
    top: 10px;
}
.white{
    color: #fff;
}
.font-size-x{
    font-size: 10px;
}
.font-size-2x{
    font-size: 18px;
}
.font-size-3x{
    font-size: 30px;
}
.font-size-4x{
    font-size: 40px;
}
.font-size-btn{
    font-size: 13px;
}
.font-size-btn-2{
    font-size: 16px;
}
.font-size-22px{
    font-size: 22px;
}
.btn-radius{
    border-radius: 2px;
}
.btn-color-1{
    background-color: #ff8700
}
.btn-color-2{
    background-color: #8d00ff
}
.btn-color-3{
    background-color: #4bb92f
}
.btn-color-4{
    background-color: #0078ff
}
.btn-color-5{
    background-color: #212631
}
.padding-btn{
    padding: 3px 10px;
}
/* margin */
.margin-x{
    margin: 5px;
}
.margin-2x{
    margin: 10px;
}
.margin-3x{
    margin: 15px;
}
.margin-4x{
    margin: 20px;
}
.margin-5x{
    margin: 25px;
}
/* margin-left */
.margin-left-x{
    margin-left: 5px;
}
.margin-left-2x{
    margin-left: 10px;
}
.margin-left-3x{
    margin-left: 15px;
}
.margin-left-4x{
    margin-left: 20px;
}
.margin-left-5x{
    margin-left: 25px;
}
.margin-left-5x{
    margin-left: 25px;
}
.margin-left-6x{
    margin-left: 30px;
}
/* margin-right */
.margin-right-x{
    margin-right: 5px;
}
.margin-right-2x{
    margin-right: 10px;
}
.margin-right-3x{
    margin-right: 15px;
}
.margin-right-4x{
    margin-right: 20px;
}
.margin-right-5x{
    margin-right: 25px;
}
/* margin-top */
.margin-top-x{
    margin-top: 5px;
}
.margin-top-2x{
    margin-top: 10px !important;
}
.margin-top-3x{
    margin-top: 15px;
}
.margin-top-4x{
    margin-top: 20px;
}
.margin-top-5x{
    margin-top: 25px;
}
.margin-top-8x{
    margin-top: 40px;
}
/* margin-bottom */
.margin-bottom-x{
    margin-bottom: 5px;
}
.margin-bottom-2x{
    margin-bottom: 10px;
}
.margin-bottom-3x{
    margin-bottom: 15px;
}
.margin-bottom-4x{
    margin-bottom: 20px;
}
.margin-bottom-5x{
    margin-bottom: 25px;
}
.margin-bottom-7x{
    margin-bottom: 35px;
}
/* padding */
.padding-x{
    padding: 5px;
}
.padding-2x{
    padding: 10px;
}
.padding-3x{
    padding: 15px;
}
.padding-4x{
    padding: 20px;
}
.padding-5x{
    padding: 25px;
}
/* padding-left */
.padding-left-x{
    padding-left: 5px;
}
.padding-left-2x{
    padding-left: 10px;
}
.padding-left-3x{
    padding-left: 15px;
}
.padding-left-4x{
    padding-left: 20px;
}
.padding-left-5x{
    padding-left: 25px;
}
.padding-left-5x{
    padding-left: 25px;
}
.padding-left-7x{
    padding-left: 50px;
}
/* padding-right */
.padding-right-x{
    padding-right: 5px;
}
.padding-right-2x{
    padding-right: 10px;
}
.padding-right-3x{
    padding-right: 15px;
}
.padding-right-4x{
    padding-right: 20px;
}
.padding-right-5x{
    padding-right: 25px;
}
.padding-right-7x{
    padding-right: 50px;
}
/* margin-top */
.padding-top-x{
    padding-top: 5px;
}
.padding-top-2x{
    padding-top: 10px !important;
}
.padding-top-3x{
    padding-top: 15px;
}
.padding-top-4x{
    padding-top: 20px;
}
.padding-top-5x{
    padding-top: 25px;
}

.padding-top-7x{
    padding-top: 35px;
}
.padding-top-8x{
    padding-top: 40px;
}
/* padding-bottom */
.padding-bottom-x{
    padding-bottom: 5px;
}
.padding-bottom-2x{
    padding-bottom: 10px;
}
.padding-bottom-3x{
    padding-bottom: 15px;
}
.padding-bottom-4x{
    padding-bottom: 20px;
}
.padding-bottom-5x{
    padding-bottom: 25px;
}

/* font weight */
.font-weight-100{
    font-weight: 100;
}
.font-weight-200{
    font-weight: 200;
}
.font-weight-300{
    font-weight: 300;
}
.font-weight-400{
    font-weight: 400;
}
.font-weight-500{
    font-weight: 500;
}
.font-weight-600{
    font-weight: 600;
}
.font-weight-700{
    font-weight: 700;
}
.font-weight-800{
    font-weight: 800;
}
/* Grid */

.grid{
    display: grid;
}
.column-gap-x{
    column-gap: 5px;
}
.column-gap-2x{
    column-gap: 10px;
}
.column-gap-3x{
    column-gap: 15px;
}
.column-gap-4x{
    column-gap: 20px;
}
.column-gap-5x{
    column-gap: 25px;
}
.column-gap-6x{
    column-gap: 30px;
}
.column-gap-7x{
    column-gap: 35px;
}

.row-gap-x{
    row-gap: 5px;
}
.row-gap-2x{
    row-gap: 10px;
}
.row-gap-3x{
    row-gap: 15px;
}
.row-gap-4x{
    row-gap: 20px;
}
.row-gap-5x{
    row-gap: 25px;
}
.row-gap-6x{
    row-gap: 30px;
}
.row-gap-7x{
    row-gap: 35px;
}


.gap-x{
    gap: 5px;
}
.gap-2x{
    gap: 10px;
}
.gap-3x{
    gap: 15px;
}
.gap-4x{
    gap: 20px;
}
.gap-5x{
    gap: 25px;
}
.gap-6x{
    gap: 30px;
}
.gap-7x{
    gap: 35px;
}





