/* section 1 */
/* kebab adlandirmadan istifade edirem cunki sozlerin "-"  ile ayrilmasi classlarin oxunamsini rahatlasdirir*/

#generally-info{
    border: 1px solid rgb(231, 228, 228);
}
.gi-box-programming h1{
    border-right: 1px solid rgb(231, 228, 228); 
}
.gi-box-programming h1 p{
    font-weight: 100;
    display: inline;
}
.gi-box-programming ul li{
    border-right: 1px solid rgb(231, 228, 228);
    padding: 25px 20px;
}
.gi-box-programming ul li a{
    font-size: 16px;
}
.web-design{
    border-bottom: 4px solid #4bb92f;
}
.web-design a:hover{
    color: #4bb92f;
    transition: all ease .5s;
}
.js{
    border-bottom: 4px solid #ff8700;
} 
.js a:hover{
    color: #ff8700;
    transition: all ease .5s;
}
.css{
    border-bottom: 4px solid #0078ff;  
}
.css a:hover{
    color: #0078ff;
}   
.jquery{
    border-bottom: 4px solid #8d00ff;
}
.jquery a:hover{
    color: #8d00ff;
    transition: all ease .5s;
}
.gi-box-programming > span{
    border-bottom: 1px solid darkgrey;  
}
.gi-box-search{
    /* border: 1px solid red; */
    width: 100px;
}
.gi-box-search i{  
   cursor: pointer;
}
/* section 2 */
#container{
    height: 340px;
}
.container-img{
    height: 100%;
}
.ci-js{
    width: 580px;
    height: 100%;
    background-image: url(/ımg/1.jpg);
    background-size: cover;
}
.ci-jquery{
    width: 580px;
    height: 100%;
    background-image: url(/ımg/2.jpg);
    background-size: cover;
}
/* resent post  */

#resent-post{
    height: 830px;
}
.rp-grid{
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.rp-grid-img{
    height: 216px;
    width: 100%;
    margin-bottom: 15px;
}
.rp-grid-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.rp-grid-img h1 a{
    font-weight: 600;
}


/* section 4 most read */
#most-read{
    height: 1575px;
    border-bottom: 1px solid rgb(233, 226, 226);
}
.mr-container{
    height: 100%;
    grid-template-columns: 2fr 1fr ;
    
}
.mrc-column-left{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 450px 300px 355px 1fr;
}
.column-left-items1{
    grid-column-start: 1;
    grid-column-end: 3;
    background-image: url(/ımg/2.jpg);
    background-size: cover;
    opacity: 1;
}
.mrc-column-right{
    grid-template-rows: 550px 300px 250px 1fr;
}
.cr-items-box{
    height: 90px;
    display: flex;
}
.cr-items-box div{
    width: 90px;
    height: 90px;
    margin-right: 15px;
}
.cr-items-box div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cr-items-jquery{
    height: 220px;
    background-image: url(/ımg/2.jpg);
    background-size: cover;
}
.cr-items-js{
    height: 220px;
    background-image: url(/ımg/1.jpg);
    background-size: cover
}
.sample-ad{
    width: 300px;
    height: 250px;
}
.sample-ad img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* section 5 featured post */
#featured-posts{
    border-bottom: 1px solid rgb(233, 226, 226);
    height: 475px;
}
.fp-items{
    width: 360px;
    height: 216px;
}

/* secton 6 catagories */
#catagories{
    height: 1100px;
    padding-bottom: 100px;
    border-bottom: 1px solid rgb(233, 226, 226);
}
.c-container{
    height: 100%;
}
.catagories-left{
    height: 100%;
    width: 67%;
}
.catagories-left-items{
    width: 100%;
    height: 216px;
    display: flex;
}
.cli-img{
    width: 360px;
    height: 216px;
}
.cli-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cli-description{
    height: 300px;
    padding-left: 30px;

}
.catagories-right{
    height: 100%;
    width: 100%;
}
.c-right-img{
    width: 360px;
    height: 250px;
    
}
.c-right-img img{
    border: 1px solid rgb(235, 222, 222);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cr-elements div{
    border-bottom: 1px solid rgb(235, 222, 222);
    
}
.cr-btn ul{
    height: 100px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    
}
.cr-btn li{
    margin-right: 10px;
}


/* footbar */
#foot-bar{
    height: 350px
}
.c-foot-bar{
    height: 100%;
}
.c-foot-bar>div{
   height: 200px; 
}
.c-foot-bar a{
    color: #a7b3c6;
}
.webmag p{
    color: #a7b3c6;
}
.email-box{
    width:262px;
    height: 40px;
    left: 0px;
}
.input{
    border:1px solid #a7b3c6;
    color: #a7b3c6;
    width: 240px;
    height: 35px;
    font-size: 15px;
}
.sosial{
    width: 60%;
}
.sosial li{
    background-color: #a7b3c6;
    border-radius: 1px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.sosial li a i{
    color: white;
}
