.flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
.bring-to-center{
    margin: 0 auto !important;
}
.text-align-center{
    text-align: center;
}
.flex-direction-column{
    flex-direction: column;
}
